extends layout

block header
  .row
    .span4
      h1 Title
  
block content
  .row
    .span8
      input(type="text", id="#username", placeholder="Select a username")
      button(id="#send-name") Send